{% extends 'base.html.twig' %}

{% block title %}Taxe d'apprentissage{% endblock %}

{% block body %}
<section class="main-banner" id="top">
<div class="container">
    <div class="row">
    <div class="col-lg-6 align-self-center">
        <div class="header-text">
            <h3>Taxe d'apprentissage</h3>
        </div>
        <br>
        <p>Chaque jour, notre établissement accompagne l’épanouissement personnel et la professionnalisation de nos étudiants. Depuis une vingtaine d’année, nous avons ouvert une partie de nos formations à l’alternance, conscients que votre place est indispensable à nos côtés pour apprendre et faire aimer vos différents métiers.</p>
        <br>
        <p>Nous poursuivons nos efforts d’équipement et de renouvellement de notre parc informatique.</p>
        <br>
        <p>Cet investissement important pour notre école, de plusieurs dizaines de milliers d’euros, est un défi permanent à relever ensemble. Aussi, nous faisons appel à votre confiance pour nous réserver le versement de votre Taxe d’Apprentissage.</p>
        <br>
        <p>Merci dès à présent pour toutes les formes d’encouragement et de soutien apportées à notre établissement et à nos étudiants !</p>
    </div>
    <div class="col-lg-6">
        <a href="https://beaupeyrat.fr/wp-content/uploads/2023/03/Taxe-apprentissage-2023.pdf">Taxe apprentissage 2023</a>
        <p><em>Emmanuel RABATEL, Chef d’Etablissement</em></p>
    </div>
    </div>
</div>
</section>
{% endblock %}