{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h5>Bienvenue sur ce site</h5>
            <h2>Le meilleur endroit pour apprendre ?<em>Beaupeyrat !</em></h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{{ asset('/assets/images/Beaupeyrat.png') }}"/>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
